 body{
  background-color: black;
  color: white;
}


nav ul{
  margin-top: 10%;
  display: inline-flex;
  list-style: none;
  gap:40%;
}

nav li:hover{
  cursor: pointer;

}

#search{
  background-color: rgb(63, 63, 63);
  border: none;
  border-bottom: 2px solid red;
  color: white;
  padding-left: 10px;
}

#search:focus{
  outline: none;
}


#slideshow{
  background-color: rgb(65, 65, 65);
  height: 500px;
  width: 850px;
  border-radius: 20px;
}

#footer{
  float: right;
  background-color: blue;
  height: 20px;
  width: 80px;
}

#flexbox{
  display: inline-flex;
}

#dropdown{
  background-color: black;
  color: white;
}

@media only screen and (max-width:600px) {
  #flexbox{
    display: block;
  }
}
